body{
    padding-left: 0;
    padding-right: 0;
}

#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#navbar a:hover{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#motivation .items{
    flex-direction: column;
}

#motivation .items .item{
    width: 100%;
}

.hacks .hack{
    flex-direction: column;
    align-items: center;
}

#hacks .hacks .hack .description{
    text-align: center;
}